/* body{
    font-family: roboto;
} */
nav{
    display: inline;
    border: 5px solid black;
}
.container1{
    background-image: url("pics/theater-image-background.jpg");
    background-color: #cccccc;
    height: 1000px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-content: center;
    justify-content: center;
}
.FS{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
    font-size: 60px;

}
.container2{
    border: 1px solid black;
    background-color: #cccccc;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;

}
.group{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.container3{
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
    border-bottom: 1px solid black;
    height: 200px;
    /* width: 1000px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.child{
    height: 200px;
}
.button{
    background-color: Yellow;
    padding: 10px;
    border: 1px solid black;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: white;
}
